<%- partial('_partial/header') %>

<article class="post">
  <h1 class="post-title"><%= page.title %></h1>
  <div class="post-content">
    <%- page.content %>
  </div>
</article>

<%- partial('_partial/footer') %>
